<!DOCTYPE html>
<html lang="en">
<head>
    <title>Serlith Pastes - Edit</title>
    <meta name="robots" content="noindex, nofollow">
    <th:block th:insert="~{cold/head.html}"></th:block>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a href="/paste" class="logo">Serlith Pastes</a>
        </div>
    </nav>

    <main class="container">
        <form th:action="@{/edit/${paste.uuid}}" method="POST">
            <label>
                <textarea name="content" th:text="${paste.content}">Content...</textarea>
            </label>
            <button type="submit" class="nav-button">Save Paste</button>
        </form>
    </main>
    <th:block th:insert="~{cold/footer.html}"></th:block>
</body>
</html>