<!DOCTYPE html>
<html lang="en">
<head>
    <title>Serlith Pastes - New Paste</title>
    <th:block th:insert="~{cold/head.html}"></th:block>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/paste" class="logo">
                <span>Serlith Pastes</span>
            </a>
        </div>
    </nav>

    <main class="container">
        <form method="post">
            <label>
                <textarea name="content" placeholder="// Paste your text here..." autofocus></textarea>
            </label>
            <div class="actions">
                <button type="submit" class="nav-button">Save Paste</button>
            </div>
        </form>
    </main>
    <th:block th:insert="~{cold/footer.html}"></th:block>
</body>
</html>